.slide {
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  /* kako funkcionira top? */
  top: 1%;
  left: 25%;
  height: 500px;
  width: 50%;
}

.user {
  display: flex;
}

.user-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}