.slide {
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 600px;
}