body {
  background-color: rgb(229, 229, 229);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-heading {
  width: 50%;
  margin: 16px;
}


.container {
  width: 500px;
  position: relative;
  margin: 0 auto;
  height: 300px;
  /* overflow: hidden; */
}

.slidez {
  height: 300px;
  width: 100%;
  position: absolute;


}

.slidez-1 {
  background-color: red;
  transform: translateX(0%);
}

.slidez-2 {
  background-color: blue;
  transform: translateX(100%);
}

.slidez-3 {
  background-color: green;
  transform: translateX(200%);
}

.slidez-4 {
  background-color: blueviolet;
  transform: translateX(300%);
}


h1 {
  margin: 0px;
}

h4 {
  margin: 8px 0;
}

span {
  color: rgb(0, 178, 0);
  font-weight: 600;

}

.slide {
  background-color: rgb(229, 229, 229);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* kako funkcionira top? */
  /* top: %; */

  position: absolute;
  /* left: 25%; */
  /* height: inherit; */
  width: 50%;
  transition: 2s;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  height: 300px;
  /* width: 435px; */
}

.slide:hover {
  transform: translateX(100%);
  transform: translateZ();
}

button {
  padding: 16px;
  background-color: red;
}

.buttons {
  /* width: 50%; */
  /* height: 500px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.user {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.user-info {
  margin-left: 8px;
}

.user-name {
  margin: 4px;
}

.user-location {
  margin: 4px;
  color: gray;
}

.user-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}